* {
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    background-color: #ff9671;
}
.countWrapper button {
    font-size: 20px;
    background-color: #26cf42;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.countWrapper ul {
    display: flex;
    flex-wrap: wrap;
}
.countWrapper li {
    outline: 1px solid gray;
    border-radius: 5px;
    background-color: #d65db1;
}
